@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;700&display=swap');
@import "variables";
@import "mixins";
@import "placeholders";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}


#root {
    @include flex(normal, normal, column);
    position: relative;
    overflow-x: hidden;
    padding-top: 40px;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*Header*/
    header {
        @include flex(space-between, center);
        height: 96px;
        padding-left: 55px;
        .logo-container {
            border-radius: 50%;
            background-color: $white;
            @include size(48px, 48px);
            img {
                @include size(100%, auto);
            }
        }
        nav {
            position: relative;
            height: 100%;
            @include flex(center, stretch);
            gap: 10%;
            width: 60%;
            font-family: $barlow-condensed;
            a {
                z-index: 5;
                @extend %link-styles;
            }
        }
        nav::after {
            content: "";
            position: absolute;
            border-top: 1px solid $light-gray;
            width: 58%;
            right: 95%;
            top: 50%;
            z-index: 5;
        }
        .mobile-button {
            display: none;
            padding-right: 1.5rem;
            #humburger {
                height: 21px;
                img {
                    @include size(auto, 100%);
                }
            }
        }
    }
    #mobile-menu {
        display: none;
        a {
            font-family: $barlow-condensed;
            z-index: 10;
            @extend %link-styles;
        }
        #close-button {
            display: none;
            position: absolute;
            z-index: 5;
            top: 2.125rem;
            right: 1.7rem;
            @include size(19px, 19px);
            img {
                @include size(100%, auto);
            }
        }
    }
    /*Shared nav underline and blur*/
    .navigation {
        a::after {
            content: "";
            position: absolute;
            @include size(100%, 3px);
            bottom: 0px;
            z-index: 5;
            transition: 0.2s ease;
        }
        a.active::after, a.active:hover:after {
            background-color: $white;
        }
        a:hover::after {
            background-color: $white-05;
        }
    }
    .blur::before {
        content: "";
        position: absolute;
        @include size(100%, 100%);
        background-color: $gray-transparent;
        backdrop-filter: blur(15px);
        z-index: 1;
    }
    /*Shared card description*/
    .description {
        font-family: $barlow;
        font-size: 1.125rem;
        color: $light-blue;
        line-height: 1.8;
    }
    /*Main*/
    main {
        display: flex;
        flex-grow: 1;
    }
    section {
        flex-grow: 1;
        margin-top: 76px;
        .page-title {
            display: flex;
            gap: 1.75rem;
            font-family: $barlow-condensed;
            font-size: 1.75rem;
            font-weight: 400;
            letter-spacing: 4.72px;
            color: $white;
            span {
                font-weight: 700;
                color: $span-color;
            }
        }
    }
    /*Home section*/
    .home-content {
        margin-top: 251px;
        .section-content {
            @include flex(space-around, flex-end);
        }
        .text-content {
            width: 450px;
            color: $light-blue;
            h5 {
                font-family: $barlow-condensed;
                font-size: 1.75rem;
                font-weight: 400;
                letter-spacing: 4.75px;
            }
            h1 {
                margin: 1.5rem 0;
                font-family: $bellefair;
                font-size: 9.375rem;
                font-weight: 400;
                color: $white;
            }
            p {
                font-family: $barlow;
                font-size: 1.125rem;
                line-height: 1.8;
                text-align: justify;
            }
        }
        .explore {
            @include size(274px, 274px);
            border-radius: 50%;
            border: none;
            font-family: $bellefair;
            font-size: 2rem;
            letter-spacing: 2px;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transition: 0.2s ease;
        }
    }
    /*Section Destination*/
    .destination {
        @include flex(center);
        .section-content {
            flex: 0 1 1111px;
            @include flex(normal,normal, column);
        }
        .destination-card {
            flex-grow: 1;
            @include flex(space-between);
            padding: 97px 0 0 4rem;
            .object-image {
                @include size(445px, 445px);
                img {
                    @include size(100%, auto);
                }
            }
            .object-description {
                width: 445px;
                nav {
                    height: 34px;
                    @include flex(normal, stretch);
                    gap: 2.25rem;
                    a {
                        position: relative;
                        display: inline-flex;
                        text-decoration: none;
                        color: $light-blue;
                        letter-spacing: 2.7px;
                        font-family: $barlow-condensed;
                    }
                }
                h2 {
                    margin-top: 37px;
                    font-family: $bellefair;
                    font-size: 6.25rem;
                    font-weight: 400;
                    color: $white;
                    text-transform: uppercase;
                }
                .planet-description {
                    padding: 14px 0 52px 0;
                    border-bottom: 1px solid $light-gray;
                }
                .travel-statistic {
                    padding-top: 28px;
                    display: flex;
                    .statistic-container {
                        flex-grow: 1;
                        .label {
                            font-family: $barlow-condensed;
                            font-size: 0.875rem;
                            color: $light-blue;
                            letter-spacing: 2.36px;
                        }
                        .info {
                            padding-top: 12px;
                            font-family: $bellefair;
                            font-size: 1.75rem;
                            color: $white;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
    /*Section Crew*/ 
    .crew {
        @include flex(center);
        .section-content {
            flex: 0 1 1125px;
            position: relative;
            @include flex(normal, normal, column);
            .page-title {
                position: absolute; 
            }
        }
        .crew-card {
            flex-grow: 1;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: auto auto;
            .crew-description {
                padding-top: 154px;
                .crew-role {
                    text-transform: uppercase;
                    font-family: $bellefair;
                    font-size: 2rem;
                    color: $white-05;
                }
                .crew-name {
                    padding-top: 15px;
                    font-family: $bellefair;
                    font-size: 3.5rem;
                    text-transform: uppercase;
                    color: $white;
                }
                .crew-bio {
                    padding-top: 27px;
                    max-width: 444px;
                }
                nav {
                    margin-top: 120px;
                    display: flex;
                    gap: 1.5rem;
                    a {
                        @include size(15px, 15px);
                        border-radius: 50%;
                        background-color: $crew-link-color;
                    }
                    a.active {
                        background-color: $white;
                    }
                }
            }
            .person-image {
                justify-self: end;
                align-self: end;
                img {
                    vertical-align: middle;
                    @include size(auto, 100%);
                }
            }
        }
    }
    .technology {
        @include flex(flex-end);
        .section-content {
            flex: 0 1 1274px;
        }
        .technology-card {
            @include flex(space-between);
            .technology-text-content {
                margin-top: 137px;
                display: flex;
                gap: 79px;
                nav {
                    @include flex(normal, normal, column);
                    gap: 2rem;
                    a {
                        @include flex(center, center);
                        @include size(80px, 80px);
                        text-decoration: none;
                        border-radius: 50%;
                        border: 1px solid $span-color;
                        font-family: $bellefair;
                        font-size: 2rem;
                        color: $white;
                    }
                    a.active {
                        background-color: $white;
                        color: $active-link-color;
                    }
                }
                .tool-description {
                    .terminology {
                        font-family: $barlow-condensed;
                        font-size: 1rem;
                        letter-spacing: 2.7px;
                        color: $light-blue;
                    }
                    h3 {
                        padding-top: 11px;
                        text-transform: uppercase;
                        font-family: $bellefair;
                        font-size: 3.5rem;
                        font-weight: 400;
                        color: $white;
                    }
                    .tool-description {
                        padding-top: 17px;
                        max-width: 444px;
                    }
                }
            }
            .tool-image {
                flex: 0 1 515px;
                img {
                    vertical-align: middle;
                    @include size(100%, auto);
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    #root{
        padding-top: 0;
        header {
            padding-left: 39px;
            nav {
                a {
                    font-size: 0.875rem;
                    span {
                        display: none;
                    }
                }
            }
            nav::after {
                display: none;
            }
        }
        section {
            margin-top: 40px;
            .section-content {
                flex-grow: 1;
            }
            .page-title {
                margin-left: 38px;
                gap: 1.1875rem;
                font-size: 1.25rem;
                letter-spacing: 3.38px;
            }
        }
        .description {
            font-size: 1rem;
            line-height: 1.75;
        }
        .home-content {
            margin-top: 106px;
            .section-content {
                @include flex(space-around, center, column);
                gap: 153px;
            }
            .text-content {
                text-align: center;
                h5 {
                    font-size: 1.25rem;
                    letter-spacing: 3.38px;
                }
                h1 {
                    margin: 1rem 0;
                }
                p {
                    margin: 0 auto;
                    max-width: 444px;
                    font-size: 1rem;
                    line-height: 1.7;
                    text-align: center;
                }
            }
            .explore {
                @include size(242px, 242px);
            }
        }
        .destination {
            .destination-card {
                padding: 60px 0 0 0;
                @include flex(normal, center, column);
                gap: 53px;
                .object-image {
                    @include size(300px, 300px);
                }
                .object-description {
                    width: 573px;
                    text-align: center;
                    nav {
                        justify-content: center;
                    }
                    h2 {
                        margin-top: 2rem;
                        font-size: 5rem;
                    }
                    .planet-description {
                        padding: 8px 0 49px 0;
                    }
                }
            }
        }
        .crew {
            .section-content {
                flex: 1 0 unset;
                .page-title {
                    position: unset;
                }
            }
            .crew-card {
                grid-template-columns: auto;
                grid-template-rows: auto auto;
                justify-content: center;
                .crew-description {
                    padding-top: 60px;
                    @include flex(normal, center, column);
                    text-align: center;
                    .crew-role {
                        font-size: 1.5rem;
                    }
                    .crew-name {
                        padding-top: 0.5rem;
                        font-size: 2.5rem;
                    }
                    .crew-bio {
                        padding-top: 1rem;
                        max-width: 600px;
                        text-wrap: balance;
                    }
                    nav {
                        margin-top: 40px;
                        gap: 1rem;
                        a {
                            @include size(10px, 10px);
                        }
                    }
                }
                .person-image {
                    margin-top: 2rem;
                    height: 532px;
                    justify-self: unset;
                    @include flex(center);
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    #root {
        header {
            padding: 1.5rem 0 0 1.5rem;
            height: unset;
            .logo-container {
                @include size(40px, 40px);
            }
            .desktop {
                display: none;
            }
            .mobile-button {
                display: block;
                #humburger.hide {
                    display: none;
                }
            }
        }
        #mobile-menu {
            position: absolute;
            z-index: 7;
            padding: 7.375rem 0 0 2rem;
            @include flex(flex-start, flex-start, column);
            @include size(254px, 100%);
            gap: 2rem;
            top: 0;
            right: 0;
            transform: translateX(254px);
            transition: 0.2s ease;
            #close-button {
                display: block;
            }
        }
        #mobile-menu.show {
            transform: translateX(0);
        }
        #mobile-menu::before {
            top: 0;
            left: 0;
        }
        section {
            margin-top: 24px;
            .page-title {
                margin: 0;
                justify-content: center;
                gap: 1.125rem;
                font-size: 1rem;
                letter-spacing: 2.7px;
            }
        }
        .description {
            font-size: 0.9375rem;
            line-height: 1.67;
        }
        .home-content {
            margin-top: 48px;
            .section-content {
                min-height: 555px;
                justify-content: normal;
                gap: 80px;
            }
            .text-content {
                padding: 0 1.5rem;
                width: 100%;
                h5 {
                    font-size: 1rem;
                    letter-spacing: 2.7px;
                }
                h1 {
                    margin: 1rem 0;
                    font-size: 5rem;
                }
                p {
                    max-width: 320px;
                    font-size: 0.9375rem;
                }
            }
            .explore {
                @include size(150px, 150px);
                font-size: 1.25rem;
                letter-spacing: 1.25px;
            }
        }
        .destination {
            min-height: 770px;
            .destination-card {
                padding-top: 2rem;
                gap: 1.625rem;
                .object-image {
                    @include size(170px, 170px);
                }
                .object-description {
                    width: 100%;
                    nav {
                        height: 1.75rem;
                        gap: 1.6875rem;
                        a {
                            font-size: 0.875rem;
                            letter-spacing: 2.36px;
                        }
                    }
                    h2 {
                        margin-top: 1.25rem;
                        font-size: 3.5rem;
                    }
                    .planet-description {
                        padding: 0 0 2rem 0;
                        margin: 0 1.5rem;
                    }
                    .travel-statistic {
                        padding-top: 2rem;
                        @include flex(normal, center, column);
                        gap: 2rem;
                    }
                }
            }
        }
        .crew {
            .section-content {
                min-height: 622px;
            }
            .crew-card {
                padding: 0 1.5rem;
                @include flex(flex-end, center, column-reverse);
                grid-template-columns: unset;
                grid-template-rows: unset;
                .crew-description {
                    padding-top: 2rem;
                    flex-direction: column-reverse;
                    nav {
                        margin: 0;
                    }
                    .person-info {
                        padding-top: 2rem;
                    }
                    .crew-role {
                        font-size: 1rem;
                    }
                    .crew-name {
                        font-size: 1.5rem;
                    }
                    .crew-bio {
                        line-height: 1.7;
                        text-wrap: unset;
                    }
                }
                .person-image {
                    align-self: unset;
                    @include size(100%, 223px);
                    border-bottom: 1px solid $light-gray;
                }
            }
        }
    }
}

@media (hover: hover) {
    .explore:hover {
        box-shadow: 0 0 0 88px $shadow-gray;
    }
}